{% extends 'base.html' %}

{% block title %}About us{% endblock %}
{% block buttons %}{% endblock %}
{% block headline %}<h2 class="form-signin-heading">JanuszePythona</h2> {% endblock %}
{% block content %}
{% block active%}
        <li><a href="/">Home</a></li>
        <li class="active"><a href="{% url 'about' %}">About us</a></li>
        <li><a href="{% url 'contact' %}">Contact</a></li>
{% endblock%}

    <ul class="list-group">
        <li class="list-group-item">Bartosz Piwnik</li>
        <li class="list-group-item">Kamil Potoczny</li>
        <li class="list-group-item">Patryk Matwijczuk</li>
        <li class="list-group-item">Michał Korzeniak</li>
    </ul>


{% endblock %}