{% load static from staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{% block title %}Tickets Reservation{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="{% static "css/bootstrap.css" %}" rel="stylesheet">
    <style>
        body {
            padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
        }
    </style>
    <link href="{% static "css/bootstrap-responsive.css" %}" rel="stylesheet">
</head>
<body>

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <div class="nav-collapse collapse">
                <ul class="nav">
                    <li class="active"><a href="/">Home</a></li>
                    <li><a href="{% url 'about' %}">About us</a></li>
                    <li><a href="#contact">Contact</a></li>
                </ul>

                {% block navbuttons %}
                    <ul class="nav navbar-nav navbar-right">
                    {% if user.is_authenticated %}
                        <li><a href="#"><span class="glyphicon glyphicon-user"></span>  Hi {{ user.username }}!</a></li>
                        <li><a href="{% url 'logout' %}"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
                        <li><a href="{% url 'add_event' %}"><span class="glyphicon glyphicon-log-in"></span> Add Event</a></li>
                    {% else %}

                            <li><a href="{% url 'login' %}"><span class="glyphicon glyphicon-user"></span> Login</a></li>
                            <li><a href="{% url 'register' %}"><span class="glyphicon glyphicon-log-in"></span> Sign up</a></li>

                    {% endif %}
                    </ul>
                {% endblock %}

            </div><!--/.nav-collapse -->
        </div>
    </div>
</div>

<div class="container">
    {% block headline %}
        <h1>Tickets Reservation System</h1>
        <img src="{% static "img/tickets.jpg" %}" class="img-responsive" alt="Tickets">
    {% endblock %}


    {% block content %}
    {% endblock %}
</div> <!-- /container -->

<hr>
<footer class="container">
    <a href="https://github.com/JanuszePythona/TicketsReservation">GitHub: Janusze Pythona</a>
</footer>
</body>
</html>