{% extends 'base.html' %}

{% block title %}Place reservation{% endblock %}

 {% block headline %}
        <h2 class="form-signin-heading">Place reservations</h2>
    {% endblock %}
{% block buttons %}{% endblock %}
{% block content %}
  <form method="post">
    {% csrf_token %}
      {{ form.as_p }}
      <div></dib><button class="btn btn-lg btn-primary" type="submit">Place orders</button></div>
  </form>
    <p>Places already occupied</p>
     {% for ticket in tickets %}
                <li>Row / Column: {{ ticket.row}} / {{ ticket.column}}</li>

                {% empty %}
                    <div>All seats are available</div>
                {% endfor %}
{% endblock %}