{% extends 'base.html' %}

{% block title %}Login{% endblock %}
 {% block headline %}
        <h2 class="form-signin-heading">Please sign in</h2>
    {% endblock %}
{% block buttons %}{% endblock %}
{% block content %}

    <form role="form" class="form-signin" method="post" action="{% url 'login' %}">{% csrf_token %}
        <label for="inputEmail" class="sr-only">{{ form.username.label_tag }}</label>
        <input type="text" id="inputEmail" class="form-control" name="{{ form.username.html_name }}" placeholder="Username" required autofocus>
        <label for="inputPassword" class="sr-only">{{ form.password.label_tag }}</label>
        <input type="password" id="inputPassword" class="form-control" name="{{ form.password.html_name }}" placeholder="Password" required>
        <div class="checkbox">
            {% if form.errors %}
                <p>Your username or password didn't match. Please try again.</p>
            {% endif %}
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    </form>


{% endblock %}